/*--------------------------
    base settings
---------------------------*/

$display-font : 'Playfair Display', serif;
$body-text: 'Open Sans', sans-serif;
$background-color: #FEF5F7;
$beige: #AD7B7C;
$red: #DD5748;
$dark-red: #AD6A68;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $background-color;
}
